<!DOCTYPE html>
<html>
  <head>
    <title>Cinema events</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (background) { %>
      <style>body::before{background-image: url('https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces<%= background %>')}</style>
    <% } %>
  </head>
  <body>
    <header class="header_container">
      <div class="header_wrapper">
        <img src="/images/logotype.png" />
        <h1 class="title">Welcome to Cinema events</h1>
      </div>
      <div class="sort">
        <p class="sort_text">Sort by:</p>
        <a class="<% if (sort == 'title') { %>active<% } %> sort_link margin" href="/?<%= sortBase %>title">
          <span class="link_text">Title</span>
        </a>
        <a class="<% if (sort == 'date') { %>active<% } %> sort_link margin" href="/?<%= sortBase %>date">
          <span class="link_text">Date</span>
        </a>
        <a class="<% if (sort == 'organizer') { %>active<% } %> sort_link" href="/?<%= sortBase %>organizer">
          <span class="link_text">Organizer</span>
        </a>
      </div>
    </header>
    <div class="main_container">
      <% events.map(event => { %>
        <div class="wrapper">
          <div class="wrapper_title">
            <h2><%= event.title %></h2>
            <img src="https://media.themoviedb.org/t/p/w64_and_h64_face<%= event.image %>" class="picture"/>
          </div>          
          <div class="desc"><%= event.description %></div>
            <div class="wrapper_date"><%= event.date %></div>
          <div class="wrapper_link">
            <a href="/register/<%= event.id %>" class="link">Register</a>
            <a href="/participants/<%= event.id %>" class="link">View</a>
          </div>
        </div>
      <% }) %>
      <div class="pagination">
        <% if(page > 1) { %>
          <a href="/?<%= paginatorBase %><%= page - 1 %>" class="arrow_prev">&#129032</a>
        <% } else { %>
          <span class="arrow_prev">&#129032</span>
        <% } %>
        <span class="page"><%= page %></span>
        <% if(page < maxPage) { %>
          <a href="/?<%= paginatorBase %><%= page + 1 %>" class="arrow_next">&#129034</a> 
        <% } else { %>
          <span class="arrow_next">&#129034</span>
        <% } %>
      </div>
    </div>
    <footer>The site was created by Lyudmila Dyachenko</footer>
  </body>
</html>
