<!DOCTYPE html>
<html>
  <head>
    <title>Cinema events</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="images/logotype.png" />
      <h1 class="title">Welcome to Cinema events</h1>
    </header>
    <div class="container">
      <% events.map(event => { %>
        <div class="wrapper">
          <div class="wrapper_title">
            <h2><%= event.title %></h2>
            <img src="https://media.themoviedb.org/t/p/w64_and_h64_face<%= event.image %>" class="picture"/>
          </div>          
          <div class="desc"><%= event.description %></div>
            <div class="wrapper_date"><%= event.date %></div>
          <div class="wrapper_link">
            <a href="/register/<%= event.id %>" class="link">Register</a>
            <a href="/participants/<%= event.id %>" class="link">View</a>
          </div>
        </div>
      <% }) %>
      <div class="pagination">
        <% if(page > 1) { %>
          <a href="/?page=<%= page - 1 %>">🠈</a>
        <% } else { %>
          <span>🠈</span>
        <% } %>
        <span class="page"><%= page %></span>
        <% if(page < maxPage) { %>
          <a href="/?page=<%= page + 1 %>">🠊</a> 
        <% } else { %>
          <span>🠊</span>
        <% } %>
      </div>
    </div>
    <footer>The site was created by Lyudmila Dyachenko</footer>
  </body>
</html>
