<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <% events.map(event => { %>
        <span><%= event.title %></span>
        <span><%= event.description %></span>
        <span><%= event.date %></span>
      <% }) %>
    </div>
  </body>
</html>
