<!DOCTYPE html>
<html>
  <head>
    <title>Cinema events</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="/javascripts/participants.js"></script>
    <% if (background) { %>
      <style>body::before{background-image: url('https://media.themoviedb.org/t/p/w1920_and_h800_multi_faces<%= background %>')}</style>
    <% } %>
  </head>
  <body>
    <header class="header_container">
      <a href="/" class="header_wrapper">
        <img src="/images/logotype.png" />
        <h1 class="title">Cinema events</h1>
      </a>
    </header>
    <h1>"<%= title %>" participants</h1>
    <div class="part_container">
      <% participants.map(event => { %>
        <div class="part_wrapper">
          <p class="part_name"><%= event.name %></p>
          <p class="part_email"><%= event.email %></p>
          <!-- <p class="part_date"><%= event.date %></p> -->
        </div>
      <% }) %>
    </div>

    <canvas id="chart" data-participants="<%= JSON.stringify(participants) %>"></canvas>
    
    <footer class="part_footer">The site was created by Lyudmila Dyachenko</footer>
  </body>
</html>
